.container {
    background-color: #fff;
    padding: 1%;
}

.header {
    background-color: #606472;
    color: white;
    text-align: center;
}

h4 {
    padding: 1.5% 0 1.5% 0;
    margin: 0;
}

.noArticles {
    color: red;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5%;
}

.readBtn {
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: #0B4061;
}

.readBtn:hover {
    background-color: #1372AD;
    
}

.readBtn:focus {
    background-color: #0B4061;
}

.article {
    background-color: #fff;
}